.row{
  color: white;
  margin-left: 60px;
  margin-bottom: 30px;
  position: relative;
  // overflow: hidden;
  .title{
    display: flex;
    align-items: center;
    span{
      margin-left: 10px;
    }
  }
  .control{

    .btn{
      // position: absolute;
      // top: 0;
      // z-index: 9000;

      border: none;
      height: 100%;
      width: 60px;
      color: white;
      background-color: rgba(255, 0, 0, 0.692);
        
        &.left{
        position: absolute;
        left: 0;
      }

      &.right{
        position: absolute;

        right: 0;
      }
    }
    .posters{
      position: relative;
      display: flex;
      // overflow: hidden;
      // overflow-y: visible;
      // overflow-x: scroll;
      padding: 20px 0px;
  
      &::-webkit-scrollbar{
        display: none;
      }
  
      
  
      .poster{
        position: relative;
        height: 160px;
        object-fit: contain;
        margin-right: 2px;
        width: 285px;
        border-radius: 3px;
        transition: width 1s, height 1s;
        transform-origin: center;
  
      }
  
      .posterLarge{
        min-height: 350px;
      }
  
  
  
      
  
    }

  }
  




}